<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - Add a Review</title>
	<% include partials/imports %>
</head>
<body>
  <% include partials/navbar %>
  <div class="container">
		<!-- <div class="submit-review-container"> -->
			<form class="submit-review-form" action="/review" method="POST">
				<h3>New review for <span><%= album.title %></span></h3>
				<input type="hidden" name="albumID" value="<%= album.id %>">
				<textarea name="content" rows="10" cols="40" required></textarea>
				<input type="submit" value="Submit">
			</form>
		<!-- </div> -->
	</div>
	<%- messages() %>
</body>
</html>
