<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
	<% include partials/imports %>
</head>
<body onload="addDeleteFunction()">
   <% include partials/navbar %>

	<div class="container">

		<div class="album-details">
			<h1><%= album.title %></h1>
			<em>by <%= album.artist %></em>

			<a href="/albums/<%= album.id %>/submit_review"><button>Add Review</button></a>
		</div>

		<div class="album-reviews">
			<h2>Reviews</h2>
  		<!-- TODO: implement album reviews -->
			<% for (var x=reviews.length-1; x > -1; x-- ) { %>
				<% include partials/review %>
				<% } %>
		</div>
	</div>

</body>
</html>
