<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - woops</title>
	<% include partials/imports %>
</head>
<body>
   <% include partials/navbar %>
  <h1>ERROR</h1>
  <h2><%= error.message %></h2>
  <pre><%= error.stack %></pre>

</body>
</html>
