<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
 <div class="title-bar">
    
        <a href="/home">
        <h3 class="app-title">Vinyl</h3>  
    </a> 
    
    <nav class="navbar">
      <% if (!user) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Sign In</a>
      <% } %>
      <% if (user) { %>
      <a href="/users/<%= user.id %>">Profile</a>
      <a href="/logout">Logout</a>
      <% } %>

    </nav>
    
  </div>
  
  <div class="splash-image"></div>
  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

</body>
</html>
