<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - Home</title>
	<% include partials/imports %>
</head>
<body onload="addDeleteFunction()">
  <% include partials/navbar %>
  
  <div class="splash-image"></div>

	<div class="home-content">
  
  <div class="list album-list">
	<h2>Records</h2>
    <% albums.forEach(function(album) { %>
			<% include partials/album_entry %>
    <% }) %>
  </div>
	<div class="latest-reviews-list list">
	<h2>Recent Reviews</h2>
			<% for (var x=reviews.length-1; x > -1; x-- ) { %>
				<% include partials/review %>
			<% } %>
	</div>

	</div>

</body>
</html>
