<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - Signup</title>
	<% include partials/imports %>
</head>
<body>
    <% include partials/navbar %>
    <div class="container">
        <form class="vinyl-form signup-container" method="POST" action="/signup">
						
				<h3>Sign up for Vinyl</h3>
						<div class="vinyl-form-input">
            	<span>Name:</span>
            	<input name="username" type="text">
						</div>

						<div class="vinyl-form-input">
							<span>Email:</span>
							<input name="useremail">
						</div>

						<div class="vinyl-form-input">
							<span>Password:</span>
							<input name="userpassword">
						</div>

            <button type="submit">Sign Up</button>

        </form>
        <%- messages() %>
    </div>
</body>
</html>
