<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - Signup</title>
	<% include partials/imports %>
</head>
<body>
    <% include partials/navbar %>
    <div>
        <form class="vinyl-signup-form signup-container" method="POST" action="/signup">

            <h3>Sign up for Vinyl</h3>

            <label>Name:</label>
            <input name="username" type="text">

            <label>Email:</label>
            <input name="useremail">

            <label>Password:</label>
            <input name="userpassword">

            <input type="submit" value="Sign Up">

        </form>
        <%- messages() %>
    </div>
</body>
</html>
