<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
    <div class="title-bar">
        <a href="/">
            <h3 class="app-title">Vinyl</h3>  
        </a>
        <nav class="navbar">
            <a href="/signup">Sign Up</a>
            <a href="/login">Sign In</a>
        </nav>
    
    </div>
    <div>
        <form class="vinyl-signup-form signup-container" method="POST" action="/signup">

            <h3>Sign up for Vinyl</h3>

            <label>Name:</label>
            <input name="username" type="text">

            <label>Email:</label>
            <input name="useremail">

            <label>Password:</label>
            <input name="userpassword">

            <input type="submit" value="Sign Up">

        </form>
        <%- messages() %>
    </div>
</body>
</html>
