<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
	<% include partials/imports %>
</head>
<body>
    <% include ./partials/navbar %>
		<div class="splash-image"></div>
			<div class="splash-links">
				<a href="/signup">Sign Up</a>
				<a href="/login">Sign In</a>
			</div>
    <%- messages() %>


</body>
</html>
