<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
	<% include partials/imports %>
</head>
<body>
    <% include ./partials/navbar %>
    <div class="container">
        <div>
            <h1>Vinyl</h1>
        </div>
          <div class="splash-image"></div>

            <a href="/signup">Sign Up</a>
            <a href="/login">Sign In</a>
    </div>
    <%- messages() %>


</body>
</html>
