<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - <%= user.name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
 <div class="title-bar">
    <a href="/home">
        <h3 class="app-title">Vinyl</h3>  
    </a>
    <nav class="navbar">
      <a href="/home">Home</a>
      <a href="/logout">Logout</a>
    </nav>
  </div>
  <div class="user-profile">

    <div class="user-profile-details">

      <span><%= user.name %></span>
      <span><%= user.email %></span>


    </div>

    </div>

  </div>

</body>
</html>
