<!DOCTYPE html>
<html>
<head>
  <title>Vinyl - <%= user.name %></title>
	<% include partials/imports %>
</head>
<body onload="addDeleteFunction()">
  <% include partials/navbar %>
  <div class="user-profile">

    <div class="user-profile-details">
      <span><%= user.name %></span>
      <span><%= user.email %></span>
    </div>

		<div class="user-profile-reviews">
			<h2>Reviews</h2>
  		<!-- TODO: implement album reviews -->
			<% for (var x=reviews.length-1; x > -1; x-- ) { %>
				<% include partials/review %>
			<% } %>
		</div>
		</div>

    </div>

  </div>

</body>
</html>
